


/*---- ESTILOS DEL HOME ----*/

.jumbotron {
  background: rgba(226, 217, 218, 0.384);
  padding-top: 100px;
  padding-bottom: 100px;
}

.jumbotron .button {
  background-color: #ff3333;
  color: white;
}

/*---- ESTILOS DE ACERCA DE ----*/

.acerca-de {
  background: rgba(226, 217, 218, 0.384);
  padding-top: 0px;
  padding-bottom: 100px;
}

.acerca-de .contenedor-acerca-de {
  width: 1000px;
  margin: auto;
  color: rgb(0, 0, 0);
}

.acerca-de .contenedor-acerca-de h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
}

.acerca-de .contenedor-acerca-de .acerca-de-p1 {
  font-weight: 400;
  margin-top: 20px;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
}

.acerca-de .contenedor-acerca-de h4 {
  font-weight: 700;
  margin-top: 40px;
  font-size: 28px;
}

.acerca-de .contenedor-acerca-de hr {
  border: none;
  height: 2px;
  background: white;
  margin-top: 10px;
}

.acerca-de .contenedor-acerca-de .contenedor-texto {
  width: 98%;
  margin: 10px auto 0px auto;
}

.acerca-de .contenedor-acerca-de .acerca-de-p2 {
  font-size: 15px;
  line-height: 26px;
}

.acerca-de .contenedor-acerca-de .acerca-de-p3 {
  font-size: 15px;
  line-height: 26px;
}

.acerca-de .contenedor-acerca-de .contenedor-texto .subcontenedor-texto {
  width: 96%;
  margin: 30px auto 0px auto;
}

.acerca-de .contenedor-acerca-de .contenedor-texto .subcontenedor-texto ul li {
  font-size: 15px;
  line-height: 26px;
}

.acerca-de .contenedor-acerca-de .galeria {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.jumbotron  .galeria .img1{
  /*
  width: 100px;
  height: 100px;
  border-radius: 0px;
  display: flex;
  border-radius: 0px;
  height: 100%;
  width: 100px;
  margin: 0px 300px;
  */
  float: right;
   width: 0px;
   height: 10px;
   margin: -15px 625px; 
   padding: 0px;
}



.acerca-de .contenedor-acerca-de .contenedor-btn-descarga15 {
  width: 100%;
  display: flex;
  justify-content: center;
}


.acerca-de .contenedor-acerca-de .contenedor-btn-descarga15 a {
  text-decoration: none;
}

.acerca-de .contenedor-acerca-de .btn-descargar15 {
  background-color: #c92626;
  color: white;
  width: 240px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  transition: ease .3s;
}

.acerca-de .contenedor-acerca-de .btn-descargar15:hover {
  width: 244px;
  background-color: #c09999;
  color: black;
}

@keyframes arrow {
  0% {transform: translateY(0px)}

  100% {transform: translateY(20px)}
}

/*---- ESTILOS DEL FOOTER ----*/

footer {
  background-color: #252323;
  padding-top: 0px;
  padding-bottom: 0px;
}

footer .contenedor-footer {
   width: 50%;
   height: 0%;
   margin: auto;
}


footer .contenedor-footer .cinta-footer {
  display: flex;
  justify-content: center;
}

footer .contenedor-footer .cinta-footer ul {
  list-style: none;
}

footer .contenedor-footer .cinta-footer ul li {
  display: inline-block;
  padding: 10px 10px;
}

footer .contenedor-footer .cinta-footer ul li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 0px;
  text-decoration: none;
  color: white;
}

footer .contenedor-footer .cinta-footer ul li a:hover {
  text-decoration: underline;
}

footer .contenedor-footer hr {
  border: none;
  height: 2px;
  background: white;
  margin: 10px 0 20px 0;
}

footer .contenedor-footer .creditos-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .contenedor-footer .creditos-footer p {
  color: white;
  font-size: 11px;
  line-height: 26px;
}

footer .contenedor-footer .creditos-footer .btns-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .contenedor-footer .creditos-footer .btns-footer i {
  color: white;
  font-size: 30px;
}

footer .contenedor-footer .creditos-footer p {
  color: white;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
}


