<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<section class="acerca-de" id="acerca-de">
    <div class="contenedor-acerca-de">
        <h3>Acerca de iPensum</h3>
        <p class="acerca-de-p1">Esta aplicación tiene como objetivo simplificar la manera en la cual se información acerca de la carrera de Ing. de sistemas en Uninorte</p>
        <h4>¿Cómo funciona?</h4>
        <hr>
        <div class="contenedor-texto">
            <p class="acerca-de-p2">El usuario tendrá la oportunidad de entrar a la aplicación como un invitado o iniciar sesión como estudiante ingresando, fundamentalmente, su código estudiantil. Seguido a esto, iPensum le permtirá seleccionar qué desea buscar; las opciones de busqueda son: malla curicular, información de materias por semestre, las materias favoritas de algunos estudiantes de la carrera y también las actividades extracurriculares, con las que cuenta la Universidad</p>
        </div>
        <h4>¿Cómo y qué tener en cuenta para descargar la aplicación?</h4>
        <hr>
        <div class="contenedor-texto">
            
            <p class="acerca-de-p3">Lo más importante para tener en cuenta es :</p>
            <div class="subcontenedor-texto">
                <ul>
                    <li>Tener una versión de Python mayor o igual que 3.10.4</li>
                    <li>Contar con un buen procesador y buena definición de imagen para que la aplicación se logre visualizar mejor</li>
                    <li>Tener acceso a una red WiFi</li>
                </ul>
            </div>
            <p class="acerca-de-p3">Para descargar la aplicación solo debe seleccionar el botón en la parte inferior y se le redirecionará a la pagina :</p>
        </div>
        <div class="contenedor-btn-descarga15">
            <a href="https://github.com/ana03ap/iPensum.git"><div class="btn-descargar15">Descarga de iPensum</div></a>
        </div>
    </div>
</section>



{% endblock%}
