<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<section class="acerca-de" id="acerca-de">
    <div class="contenedor-acerca-de">
        <h3>Acerca de la aplicación</h3>
        <p class="acerca-de-p1">Esta aplicación tiene como objetivo simplificar las manera en las que las personas buscar información de la carrera de ingenieria de sistemas</p>
        <h4>¿Cómo funciona?</h4>
        <hr>
        <div class="contenedor-texto">
            <p class="acerca-de-p2">El usuario tendrá la oportunidad de entrar a la aplicación cono un inivtado o iniciar sesión como estudiante ingresando fundamentalmente su código de estudiante. Seguido a entro entra a un menu en el que selecciona qué es lo que quiere buscar entre estas opciones se encuentra la malla curicular, información por semestre individual(contiene indo de las materias), las materias favoritas en general de las personas y también las actividades extracurriculares que contamos aquí en la universidad </p>
        </div>
        <h4>¿Cómo y qué tener en cuenta para descargar la aplicación?</h4>
        <hr>
        <div class="contenedor-texto">
            
            <p class="acerca-de-p3">Lo más importante a tener en cuenta es :</p>
            <div class="subcontenedor-texto">
                <ul>
                    <li>Tener Python 3,10</li>
                    <li>Contar con un buen procesador, y buena deficinición para que se peuda apreciar mejor las a¿imagenes de la aplicación</li>
                    <li>No se </li>
                </ul>
            </div>
            <p class="acerca-de-p3">Para descragar la aplicación solo debe seleccionar el botón de abajo y se le redirecionará a la pagina :</p>
        </div>
        <div class="contenedor-btn-descarga15">
            <a href="https://github.com/ana03ap/iPensum.git"><div class="btn-descargar15">Descarga el juego</div></a>
        </div>
    </div>
</section>



{% endblock%}
