<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<section class="Creditos ">
  <div class="contenedor-Creditos">
    <h1>¿Quién realizó esta aplicación? </h1>
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">Emily Roldán Ripoll</h5>
        <h6 class="card-subtitle mb-2 text-muted">Estudiante Ingeniería de sistemas </h6>
        <ul>
          <li>Universidad del Norte</li>
          <li>Tercer Semestre</li>
          <li>Codigo estudiante: 200162631</li>
        </ul>
        <a href="https://github.com/EmilyRoldan" class="card-link">Github</a>
      </div>
    </div>


    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">Ana Ardila Pacheco</h5>
        <h6 class="card-subtitle mb-2 text-muted">Estudiante Ingeniería de sistemas </h6>
        <ul>
          <li>Universidad del Norte</li>
          <li>Tercer Semestre</li>
          <li>Codigo estudiante: 200159370</li>
        </ul>
        <a href="https://github.com/ana03ap" class="card-link">Github</a>
      </div>
    </div>


    <div class="btn-descargas">


    </div>
</section>

{% endblock%}