<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<section class="Creditos ">
    <div class="contenedor-Creditos">
        <h1>¿quién realizó esta aplicación? </h1>


        <div class="btn-descargas">
            <a href="https://drive.google.com/file/d/1AKq3CWG72PXjglvX5RkgXhA23vwPtqrJ/view"><div class="btnd btn-jar">
                <i class="fas fa-download"></i><p>Descargar el juego portable (211 MB)</p>
            </div></a>
            <a href="https://drive.google.com/file/d/1LqkQqQaYwvJP_B1ZxJVxWLXi0JIbQTdJ/view"><div class="btnd btn-zip">
                <i class="fas fa-file-archive"></i><p>Descargar el código fuente del juego (547 MB)</p>
            </div></a>
        </div>

    </div>
</section>

{% endblock%}
