{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <div class="galeria">
    <div class="img1">
      <img src="https://lh3.googleusercontent.com/KLKg_F1woe0SL9FFMj65HHJHf6E1ykZEn8HYAFN0P-5JSDY-n1gRzEZkOOhAVIUqk8crqgpxZ4Op6AkFtrogtz31jalxVre72XKK3fDQUHmfrX5x3NN7rnYZS8jKMY92oa23NJM8gyX-SxP8JuZ0z5StyLub3GBXu22dwnLpjPBSVd1nB7G5uTOP9ZE-wIaw8H8I_i9fufYMzjPFVboU9ntNpm7DCN8kexOJxSFXP70DLRXN61vdMw_tGzCZKn61vlfI8BP5Q9XrfXiChuvm9MzfIWgpXIJW5rPcccjHLXXv6yCUq-vogfx8sYsSYhH6gfzqz0wlD2r1ap_KsPH5bCWUMh4-LIhzaW-7nTs_eHk4DUJ88j2y0rVpGFATqOOBDN6FCzMio7wyfkzLrsqF3KFPj43xypEbFvqpTLFuhmn3wzMG3oKAVb877Jso1WGDTije10NAqtrm6MYeUm4PklogiZkUPVxY-5QtpOgzJoI1KKwu0L2ClasidZ-_H4wPPZdrVGb4s2-ijOeaNcK-h3XSOTaS771sJVmcmwviJgPscA8y3LpMjLY5uCfamixj5h54JkJK5uKGF0VMV4BwcxoadTsd76UlTNCEzDu2JzLTwtKdW1BNYWfNfQyGI7sQQFLrh8Ar-1zyfrvYU5cWv4fhnNQKpqkzX3A5p26q5TC1XZkdTFJb5f5xzVn3lAUfQ1YIMgV1rFOQOHy0jhbP1pHHw1Y7E8pRtxqFtRY2nwaVzvoIHd9JUjZcFoWxPe56Uj3AfxahiSs1KMzP3rNZJ4-1PegzteFcj40k-2BFWYs3kZhHh0py3DPPzrEz6gcMSJA=w659-h379-no?authuser=0" alt="icono" width="140" height="70" >
    </div>
    
</div>
  <h1 class="display-5">Welcome to IPensum!</h1>
  <p class="lead">Ipensum es una aplicación que te permite buscar de manera más rápida la información acerca de la carrera de ingeniería de sistemas de la Universidad del Norte</p>
   
  <hr class="my-3">
  <p>Para más información acerca de iPensum: </p>
  <a class="btn btn-outline-danger"  href="{{ url_for('about') }}" role="button">Click!</a>
</div>


{% endblock%}