{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <div class="galeria">
    <div class="img1">
      <img src="https://lh3.googleusercontent.com/ZRhCS3g6SpzNI_mF_wvsAKJYh6mw6K6AMvME0EogGC47DuaEWr4rKPvdS4haUF5TTjKY40zDCRUTqLfdtVc0rHKerdnHGiVLG4j09yMrI0kgFz096mfMXfDBp0a32M3ur9eUg-lmMEsaLd4udrSZmnjM07omm8HQ0HxF5L4kyLX_AMHCNILuV2YI1DYCdqZEJ71VU4Q7vMPG34GaQpdk1WF9yAZRUMcGMrPG_QDr3jaKbjQ47w6vG-kVXDYAoKJpCKf02tUWJtHYR2JrY7Ci6chgQcsIe_LrfB33H5YTpxhGdi-tFz6ZbNvoitaF_STQLEsegkoWkmYiZ2UZSUvW3tUzbsib2fRZw7Z-nXf9xrhVSItB55l6LpQfWSjKkBjxEN5HVavFO2WMr1-NW90C2vWk3deMooXqOLDwJJkKTaEd9TgyYPRBMp3m40-t9lJHHVlSMcznIfbUHTp50VSL6s9w3nF3JqktGZkyKN21TJsLhEqCCqnTQoO4mvCUbhOW7PVBwArkBV253DLXDR68kTxcLEVZGe-mjBiy0vaLpebWRsnGZ0amSIg5jVc48A6yDm7sKudpKE5Fmx1rwYu2q3GWKeTB6KeEPHq5j-bKZ-W2TQCuSYfX2FoX0LuA66ry3hn2AzAUdze7mgxHYZO7r6mN64Vadiudn83z2h9sEtnVydkWK6ncqoSYJgheStWhwdgmB2pw4DMxteFjcY7Me5QYqnTCItpzQ9JmWMI-tiZF6n2f0Q0oWvkOPVkShIZbPcyg4QhSc8BiUgrclFvh5-rHJXar2jkptGZk5sCaXrVhjuckE7tNV4D-LBzV6XHjF-WB=w870-h500-no?authuser=1" alt="icono" width="300" height="150" >
    </div>
    
</div>
  <h1 class="display-5">Welcome to IPensum!</h1>
  <p class="lead">Ipensum es una aplicación que te permite buscar de una manera más rápida la información sobre una
    carrera </p>

   
  <hr class="my-3">
  <p>Para más información y descargar la aplicación : </p>
  <a class="btn btn-outline-danger"  href="{{ url_for('about') }}" role="button">Learn more</a>
</div>


{% endblock%}